Cliente1/Connected Services/ServicoEstoque/EstoqueService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EstoqueService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55668/EstoqueService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55668/EstoqueService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55668/EstoqueService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:55668/EstoqueService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServicoEstoque" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEstoqueService_ListarProdutos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProdutos" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_ListarProdutos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProdutosResponse" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_IncluirProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:IncluirProduto" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_IncluirProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_RemoverProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverProduto" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_RemoverProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_ConsultarEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstoque" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_ConsultarEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_AdicionarEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarEstoque" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_AdicionarEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_RemoverEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverEstoque" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_RemoverEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_VerProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:VerProduto" />
  </wsdl:message>
  <wsdl:message name="IEstoqueService_VerProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerProdutoResponse" />
  </wsdl:message>
  <wsdl:portType name="IEstoqueService">
    <wsdl:operation name="ListarProdutos">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstoqueService/ListarProdutos" message="tns:IEstoqueService_ListarProdutos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstoqueService/ListarProdutosResponse" message="tns:IEstoqueService_ListarProdutos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncluirProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstoqueService/IncluirProduto" message="tns:IEstoqueService_IncluirProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstoqueService/IncluirProdutoResponse" message="tns:IEstoqueService_IncluirProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstoqueService/RemoverProduto" message="tns:IEstoqueService_RemoverProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstoqueService/RemoverProdutoResponse" message="tns:IEstoqueService_RemoverProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstoque">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstoqueService/ConsultarEstoque" message="tns:IEstoqueService_ConsultarEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstoqueService/ConsultarEstoqueResponse" message="tns:IEstoqueService_ConsultarEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdicionarEstoque">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstoqueService/AdicionarEstoque" message="tns:IEstoqueService_AdicionarEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstoqueService/AdicionarEstoqueResponse" message="tns:IEstoqueService_AdicionarEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverEstoque">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstoqueService/RemoverEstoque" message="tns:IEstoqueService_RemoverEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstoqueService/RemoverEstoqueResponse" message="tns:IEstoqueService_RemoverEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstoqueService/VerProduto" message="tns:IEstoqueService_VerProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstoqueService/VerProdutoResponse" message="tns:IEstoqueService_VerProduto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEstoqueService" type="tns:IEstoqueService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarProdutos">
      <soap:operation soapAction="http://tempuri.org/IEstoqueService/ListarProdutos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncluirProduto">
      <soap:operation soapAction="http://tempuri.org/IEstoqueService/IncluirProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverProduto">
      <soap:operation soapAction="http://tempuri.org/IEstoqueService/RemoverProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstoque">
      <soap:operation soapAction="http://tempuri.org/IEstoqueService/ConsultarEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarEstoque">
      <soap:operation soapAction="http://tempuri.org/IEstoqueService/AdicionarEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverEstoque">
      <soap:operation soapAction="http://tempuri.org/IEstoqueService/RemoverEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerProduto">
      <soap:operation soapAction="http://tempuri.org/IEstoqueService/VerProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EstoqueService">
    <wsdl:port name="BasicHttpBinding_IEstoqueService" binding="tns:BasicHttpBinding_IEstoqueService">
      <soap:address location="http://localhost:55668/EstoqueService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>